body{
    font-family: Roboto, sans-serif;
    color: white;
    background-color: black;
    margin: 0;
}

.site-wrapper{
    width: 60%;
    margin: 1% auto 0 auto;
    padding: 0 10%;
}

.head-wrapper{
    display: flex;
    width: 100%;
}

.top-left{
    width: 66.666666%;
}

.top-right{
    width: calc(100% - 66.666666%);
    text-align: right;
}

#searchbar{
    width: 70%;
}

.switch-buttons-wrapper{
    display: flex;
}

.graph-wrapper{
    margin: 3% auto 3% 3%;
    max-width: 50%;
}

.performance-graph{
    width: auto;
    max-height: 200px;
}

#graph-heading{
    margin-bottom: -1px;
}

table{
    border-collapse: collapse;
}

.watchlist-table{
    width: 100%;
}

th, td, thead{
    border: 1px solid white;
}

th{
    width: 1%;
}

.switch-button{
    border: none;
    border-radius: 10%;
    padding: 15px 30px;
    background-color: green;
    color: white;
    margin: 0 0 1% 0;
}

.switch-button.active{
    background-color: white;
    color: black;
}

.switch-button:hover{
    background-color: lightgreen;
    color: black;
}

#portfolio-table-wrapper{
    display: none;
}

#watchlist-button-add-stock{
    border: none;
    color: white;
    background: none;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
}

#watchlist-button-add-stock:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

#add-stock-dialog-wrapper{
    display: none;
    background-color: grey;
    width: 90vw;
    height: 90vh;
    z-index: 10000;
    position: absolute;
    top: 5vh; left: 5vw; right: 5vw; bottom: 5vh;
    border-radius: 50px;
}

.add-stock-dialog{
    margin-left: 2%;
    margin-right: 2%;
}

.add-stock-dialog-bottom{
    text-align: right;
    position: relative;
    top: calc(100vh - 5vh - 20vh);
}